<div>
  <div class="clearfix">
    <div class="popup-data">
      <div class="flex">
        <div *ngIf="image" class="img w-1/3 py-2"><img [src]="image" /></div>
        <div class="flex-1 py-2 pl-2">
          <h3 class="mb-1">{{ (data.hikeProgram.description | localizeDescription).title }}</h3>
          <div>
            <span [ngClass]="'difficulty-' + data.hikeProgram.difficulty" class="difficulty difficulty-small">
              {{ data.hikeProgram.difficulty | difficulty | translate }}
            </span>
          </div>
        </div>
      </div>
      <gtrack-hike-info [hikeProgram]="data.hikeProgram"></gtrack-hike-info>
    </div>
  </div>
</div>
