@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '../../assets/sass/material-dashboard.scss';

* {
    box-sizing: border-box;
}

.clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}
