@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '../../assets/sass/material-dashboard.scss';

* {
  box-sizing: border-box;
}

input, select, textarea {
  font-weight: 300 !important;
}

table.table {
  td {
    padding: 4px 8px !important;

    .btn-control > button {
      padding: 6px !important;
      margin-left: 10px;
    }
  }
}

button.btn-just-icon.btn-sm {
    padding: 5px !important;
}

.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
