<div class="container" *ngIf="hikeProgram">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-3"><b>Name</b></div>
    <div class="col-3"><b>From start</b></div>
    <div class="col-3"><b>To next</b></div>
  </div>

  <ng-container *ngIf="(pois$ | async)">
    <div class="row" *ngFor="let stop of hikeProgram.stops; let i = index;">
      <div class="col-2"><gtcn-icon *ngIf="(pois$ | async)[stop.poiId]" [poi]="(pois$ | async)[stop.poiId]"></gtcn-icon></div>
      <div class="col-3"><ng-container *ngIf="(pois$ | async)[stop.poiId] && (pois$ | async)[stop.poiId].title">{{(pois$ | async)[stop.poiId].title}}</ng-container></div>
  
      <div class="col-3" *ngIf="i === 0">START</div>
      <div class="col-3" *ngIf="i > 0">{{ stop.distanceFromOrigo | distance }}</div>
  
      <div class="col-3" *ngIf="i < hikeProgram.stops.length - 1">{{ stop.segment.distance | distance }}</div>
      <div class="col-3" *ngIf="i === hikeProgram.stops.length - 1">STOP</div>
    </div>
  </ng-container>
</div>