<table *ngIf="hikeProgram">
  <tr>
    <td></td>
    <td><b>Name</b></td>
    <td><b>From start</b></td>
    <td><b>To next</b></td>
  </tr>

  <ng-container *ngIf="(pois$ | async) as pois">
    <tr *ngFor="let stop of hikeProgram.stops; let i = index;">
      <td *ngIf="i === 0"><img title="Start" [src]="startIcon" /></td>
      <td *ngIf="i === hikeProgram.stops.length - 1"><img title="Finish" [src]="finishIcon" /></td>
      <td *ngIf="i > 0 && i < hikeProgram.stops.length - 1"><gtcn-icon *ngIf="pois[stop.poiId]" [poi]="pois[stop.poiId]"></gtcn-icon></td>

      <td *ngIf="i === 0">START</td>
      <td *ngIf="i === hikeProgram.stops.length - 1">FINISH</td>
      <td *ngIf="i > 0 && i < hikeProgram.stops.length - 1"><ng-container *ngIf="pois[stop.poiId] && pois[stop.poiId].description">{{ (pois[stop.poiId].description | localizeDescription).title }}</ng-container></td>

      <td *ngIf="i === 0"><b>START</b></td>
      <td *ngIf="i > 0">{{ stop.distanceFromOrigo | distance }}</td>

      <td *ngIf="i < hikeProgram.stops.length - 1">{{ stop.segment.distance | distance }}</td>
      <td *ngIf="i === hikeProgram.stops.length - 1"><b>STOP</b></td>
    </tr>
  </ng-container>
</table>
