<div>
    <div class="clearfix">
        <div *ngIf="image" class="img"><img [src]="image" /></div>
        <div class="popup-data">
            <h3>{{ (data.poi.description | localizeDescription).title }}</h3>
            <p>Elevation: {{ data.poi.elevation | distance }}</p>
            <p>From origo: {{ data.stop.distanceFromOrigo | distance }}</p>
            <gtrack-icon width="24" [poi]="data.poi"></gtrack-icon>
            <button class="button" [routerLink]="['poi', data.poi.id]">More</button>
        </div>
    </div>
</div>