div(*ngIf="!field.hidden", [formGroup]="form", [ngClass]="containerClasses")
  h2(*ngIf="field.title") {{field.title | translate}}
  h3(*ngIf="field.subTitle") {{field.subTitle | translate}}

  input.input(
    *ngIf="field.controlType === 'checkbox'",
    type="checkbox",
    [formControlName]="field.key",
    [id]="field.key",
    [attr.disabled]="!!field.disabled ? true : null",
    [ngClass]="['input-checkbox']"
  )

  label.label(*ngIf="!field.disableLabel && field.label", [attr.for]="field.key")
    span([innerHtml]="field.label | translate:labelParams")
    span.required(*ngIf="field?.required") *
    small(*ngIf="field.helpText") {{ field.helpText | translate }}

  ng-container([ngSwitch]="field.controlType")
    input.input(
      pInputText
      *ngSwitchCase="'textbox'",
      [formControlName]="field.key",
      [id]="field.key",
      [type]="field.type",
      [ngClass]="['input-' + field.type]",
      [placeholder]="sanitizedPlaceholder | translate"
    )

    textarea.field.textarea(
      pInputTextarea
      *ngSwitchCase="'textarea'",
      [formControlName]="field.key",
      [id]="field.key",
      [rows]="field.rows",
      [placeholder]="sanitizedPlaceholder | translate"
    )

    textarea.field.textarea(
      pInputTextarea
      *ngSwitchCase="'emoji'",
      [formControlName]="field.key",
      [id]="field.key",
      [rows]="field.rows",
      [placeholder]="sanitizedPlaceholder | translate"
    )

    div.field-text(*ngSwitchCase="'text'") {{ field.textKey | translate }}
    div.field-html(*ngSwitchCase="'html'", [innerHtml]="field.content")

    div(*ngSwitchCase="'template'")
      ng-container(*ngTemplateOutlet="field.templateRef")

    ng-container(*ngSwitchCase="'select'")
      ng-container([ngSwitch]="field.type")
        gtrack-form-radio-select.field(
          *ngSwitchCase="'radio'",
          [options]= "field.selectOptions",
          [formControlName]="field.key",
          ngDefaultControl,
          [id]="field.key"
        )

        gtrack-form-dropdown-select.field(
          *ngSwitchCase="'dropdown'",
          [options]="field.selectOptions",
          [formControlName]="field.key",
          [id]="field.key",
          [change]="getOnChange()"
        )

    gtrack-form-multi-select.field(
      *ngSwitchCase="'multi-select'",
      [options]="field.selectOptions",
      [defaultLabel]="field.defaultLabel | translate",
      [formControlName]="field.key",
      [id]="field.key",
      [change]="getOnChange()"
    )

    gtrack-form-date-picker.field(
      *ngSwitchCase="'date'",
      [formControlName]="field.key",
      [id]="field.key",
      [minDate]="field.minDate",
      [maxDate]="field.maxDate",
      [defaultDate]="field.defaultDate",
      [placeholder]="sanitizedPlaceholder | translate"
    )

    gtrack-form-time-picker.field(
      *ngSwitchCase="'time'",
      [formControlName]="field.key",
      [id]="field.key",
      [defaultDate]="field.defaultDate",
      [placeholder]="sanitizedPlaceholder | translate"
    )

    ng-container(*ngSwitchCase="'group'")
      gtrack-form-group(
        [fields]="field",
        [controlGroup]="form.controls[field.key]"
      )

    ng-container(*ngSwitchCase="'section'")
      gtrack-form-section(
        [fields]="field",
        [formControlName]="field.key"
      )

    ng-container(*ngSwitchCase="'switch'")
      gtrack-form-switch.field(
        [id]="field.key",
        [formControlName]="field.key",
        [change]="getOnChange()"
      )

    ng-container(*ngSwitchCase="'slider'")
      gtrack-form-slider.field(
        [id]="field.key",
        [formControlName]="field.key",
        [change]="getOnChange()",
        [min]="field.min",
        [max]="field.max"
      )

    ng-container(*ngSwitchCase="'rangeSlider'")
      gtrack-form-range-slider.field(
        [id]="field.key",
        [formControlName]="field.key",
        [change]="getOnChange()",
        [min]="field.min",
        [max]="field.max"
      )

    ng-container(*ngSwitchCase="'file'")
      gtrack-form-file.field(
        [id]="field.key",
        [uploadOptions]="field.uploadOptions",
        [isBasic]="field.isBasic",
        [formControlName]="field.key",
        [placeholder]="sanitizedPlaceholder | translate"
      )

    ng-container(*ngSwitchCase="'markdown'")
      gtrack-form-markdown(
        [rows]="field.rows",
        [formControlName]="field.key"
      )

    ng-container(*ngSwitchCase="'richtext'")
      gtrack-form-rich-text-editor(
        [rows]="field.rows",
        [formControlName]="field.key"
      )

  div.feedback.info(*ngIf="field.infoText") {{ field.infoText | translate }}
  div.feedback.invalid(*ngIf="showError") {{actualError}}
  div.feedback.invalid(*ngIf="showRemoteError && (remoteError$ | async)") {{ remoteError$ | async | translate }}
