.dynamic-form-group-wrapper {
  .dynamic-form-group-content-wrapper {
    .dynamic-form-group-header {
    }

    .dynamic-form-group-body {
      .dynamic-form-group-item {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid $red;

        .dynamic-form-group-item-footer {
          padding: 15px 0 0 0;
          text-align: right;
        }
      }
    }
  }
}
