<div class="ui-g mb-20">
  <div class="ui-g-12">
    <p-card title="General info">
      <div class="ui-g mt-20">
        <div class="ui-g-12">
          <gt-localized-description
            [descriptionSelector]="descriptionSelector"
            [storeDataPath]="storeDataPath"
            [submitFv]="submitDescription"
            [deleteFv]="deleteDescription"
            [type]="'poi'"
          ></gt-localized-description>
        </div>
      </div>
      <div class="ui-g mt-20">
        <div class="ui-g-12">
          <p-button
            label="Save"
            styleClass="ui-button-success"
            (onClick)="savePoi()"
            [disabled]="!(isDirty$ | async)"
          ></p-button>

          <p-button
            label="Delete"
            styleClass="ui-button-danger ml-5"
            (onClick)="deletePoi(gTrackPoi?.id)"
            *ngIf="gTrackPoi?.state === EObjectState.draft"
          ></p-button>
        </div>
      </div>
    </p-card>
  </div>
</div>

<div class="ui-g mb-20">
  <div class="ui-g-12">
    <p-card title="Photos">
      <gt-hike-edit-photos
        [backgroundImageSelector]="backgroundImageSelector"
        [backgroundImageUrlSelector]="backgroundImageUrlSelector"
        [clickActions]="clickActions"
      ></gt-hike-edit-photos>
    </p-card>
  </div>
</div>
