<div class="container">
  <gt-localized-description
    [descriptionSelector]="descriptionSelector"
    [storeDataPath]="storeDataPath"
    [submitFv]="submitDescription"
    [deleteFv]="deleteDescription"
  ></gt-localized-description>

  <button
    class="btn btn-sm btn-fill btn-success"
    (click)="savePoi()"
    [disabled]="!(isDirty$ | async)"
  >Save</button>

  <button
    class="btn btn-sm btn-fill btn-danger"
    (click)="deletePoi(gTrackPoi?.id)"
    *ngIf="gTrackPoi?.state === EObjectState.draft"
  >Delete</button>
</div>