<div class="clearfix mb-2">
  <button
    class="btn btn-sm btn-success btn-fill"
    [disabled]="(isPlanning$| async)"
    (click)="retrievePlan()"
  >Retrieve plan</button>

  <button
    class="btn btn-sm btn-success btn-fill"
    [disabled]="!(isPlanning$| async)"
    (click)="removeLast()"
  >Remove last</button>

  <button
    class="btn btn-sm btn-success btn-fill"
    [disabled]="!(isPlanning$| async) || (route$ | async)?.features.length < 3"
    (click)="closeCircle()"
  >Close circle</button>

  <button
    class="btn btn-sm btn-success btn-fill"
    [disabled]="!(isPlanning$| async)"
    (click)="deletePlan()"
  >Delete plan</button>
</div>

<table class="table table-hover" *ngIf="(routeInfoData$ | async)?.segments.length > 0">
  <thead class="text-success">
    <tr>
      <th></th>
      <th>Distance</th>
      <th>Time</th>
      <th>Uphill</th>
      <th>Downhill</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let segment of (routeInfoData$ | async)?.segments; let idx = index">
      <td>{{idx + 1}}</td>
      <td>{{segment.distance | distance}}</td>
      <td>{{segment.time | duration}}</td>
      <td>{{segment.uphill | distance : true}}</td>
      <td>{{segment.downhill | distance : true}}</td>
      <td>{{segment.score}}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>{{(routeInfoData$ | async)?.total?.distance | distance}}</td>
      <td>{{(routeInfoData$ | async)?.total?.time | duration}}</td>
      <td>{{(routeInfoData$ | async)?.total?.uphill | distance : true}}</td>
      <td>{{(routeInfoData$ | async)?.total?.downhill | distance : true}}</td>
      <td>{{(routeInfoData$ | async)?.total?.score}}</td>
    </tr>
  </tbody>
</table>

<p *ngIf="(routeInfoData$ | async)?.segments.length === 0">
  <small>Empty route.</small>
</p>
