<ng-container *ngIf="(pois$ | async) as pois">
  <p-table [value]="pois">
    <ng-template pTemplate="header">
      <tr>
        <th>Icon</th>
        <th>Title</th>
        <th>Distance from route</th>
        <th>Types</th>
        <th>Special</th>
        <th (click)="invertSelection()" class="cursor-pointer">[Select]</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-poi>
      <tr *ngIf="!!poi.onRoute === onRouteCheck">
        <td>
          <app-poi-icons [poi]="poi"></app-poi-icons>
        </td>
        <td [ngClass]="{'text-danger': !poi.inGtrackDb}">
          {{ (poi?.description | localizeDescription).title }}
          {{ poi?.wikipedia ? '[' + poi.wikipedia.lng + ']' : '' }}
          {{ poi?.lng }}
        </td>
        <td>{{ poi.distFromRoute | distance : true }}</td>
        <td>{{ poi.types?.join(', ') }}</td>
        <td>
          <app-special-poi-data [poi]="poi" [openPoiModal]="openPoiModal"></app-special-poi-data>
        </td>
        <td class="text-center">
          <p-checkbox *ngIf="!poi.inCollector && !poi.inGtrackDb" binary="true" [ngModel]="poi.selected"
            (onChange)="handlePoiSelection([poi.id])"></p-checkbox>
          <span *ngIf="poi.inCollector && !poi.inGtrackDb">In Poi Collector</span>
          <span *ngIf="poi.inGtrackDb">In gTrackDB</span>
        </td>
      </tr>
      <tr *ngIf="!pois || pois.length === 0">No pois.</tr>
    </ng-template>
  </p-table>
</ng-container>