<div class="flex flex-col w-full">
  <div class="flex-1">
    <gtrack-trail-box
      (elevationLineMove)="onElevationLineMove($event)"
      (elevationLineOut)="onElevationLineOut()"
      (elevationLineOver)="onElevationLineOver()"
      (elevationLineClick)="onElevationLineClickMap($event)"
      [elevationMarkerPosition]="elevationMarkerPosition$ | async"
      [elevationMarkerVisible]="elevationMarkerVisible$ | async"
      [elevationMarkerLocked]="elevationMarkerLocked$ | async"
      [hikeProgram]="hikeProgram"
    ></gtrack-trail-box>
  </div>
  <div>
    <gtrack-elevation-profile
      (elevationLineMove)="onElevationLineMove($event)"
      (elevationLineOut)="onElevationLineOut()"
      (elevationLineOver)="onElevationLineOver()"
      (elevationLineClick)="onElevationLineClick($event)"
      [elevationMarkerPosition]="elevationMarkerPosition$ | async"
      [elevationMarkerVisible]="elevationMarkerVisible$ | async"
      [hikeProgram]="hikeProgram"
      [route]="route"
      [pois]="pois"
      [startDate]="startDate"
      [speed]="speed"
      [weather]="weather"
    ></gtrack-elevation-profile>
  </div>
</div>
