:host ::ng-deep {
  .ui-dropdown,
  .ui-dropdown-panel {
    min-width: 201px;
    width: max-content;
  }

  .trash {
    float: right;
    position: relative;
    top: -25px;
  }

  form > p-button.btn-success > button.ui-button {
    margin-top: 5px !important;
  }
}
