:host {
  input {
    background: transparent;
    border-bottom: 1px solid white;
  }

  :host {
    nav {
      background: #ffffff;
    }

    &.header-absolute {
      > nav {
        position: absolute;
      }
    }

    &.header-gradient {
      > nav {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 100%);
      }
    }
  }

  .general-button {
    background-position: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    transition: all 0.3s ease;
    background: transparent;
    border: 1px solid white;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
  }

  .general-button:hover {
    border-color: white;
    background: white;
    transition: all 0.3s ease-out;
  }

  .general-button span {
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none black;
    outline: white none 0px;
    transition: all 0.3s ease;
  }

  .general-button:hover span {
    color: #22282f;
    transition: all 0.3s ease;
  }
}
