<div class="flex justify-center">
  <input
    #search
    [placeholder]="placeholder"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="off"
    type="search"
    placeholder="{{ 'common.hike.location-search.search' | translate }}"
  />
  <div class="flex">
    <a class="general-button mr-2" (click)="searchLocation()">
      <span class="inline-block w-8">
        <i class="fas fa-search"></i>
      </span>
    </a>
    <a class="general-button pl-2 pr-2" (click)="requestLocation()">
      <span>
        {{ 'common.hike.location-search.use-my-location' | translate }}
      </span>
    </a>
  </div>
</div>
