<ng-container *ngIf="images.length > 1">
  <ng-container *ngFor="let image of images; let i = index">
    <div #slide
      [ngStyle]="{
        'background-image': 'url(' + image.url + ')'
      }"

      [ngClass]="{
        'slide-animate': (animate === true),
        'slide-left': (image.animation === 'left'),
        'slide-right': (image.animation === 'right'),
        'slide-up': (image.animation === 'up'),
        'slide-down': (image.animation === 'down'),
        'slide-down-left': (image.animation === 'down-left'),
        'slide-down-right': (image.animation === 'down-right'),
        'slide-up-left': (image.animation === 'up-left'),
        'slide-up-right': (image.animation === 'up-right'),
        'animate-kenburns-left': (i === currentIndex && image.animation === 'left'),
        'animate-kenburns-right': (i === currentIndex && image.animation === 'right'),
        'animate-kenburns-up': (i === currentIndex && image.animation === 'up'),
        'animate-kenburns-down': (i === currentIndex && image.animation === 'down'),
        'animate-kenburns-down-left': (i === currentIndex && image.animation === 'down-left'),
        'animate-kenburns-down-right': (i === currentIndex && image.animation === 'down-right'),
        'animate-kenburns-up-left': (i === currentIndex && image.animation === 'up-left'),
        'animate-kenburns-up-right': (i === currentIndex && image.animation === 'up-right'),
        'active-slide': (i === currentIndex)
      }"

      class="slide"
    >

    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="images.length === 1">
  <div #slide
  [ngStyle]="{
    'background-image': 'url(' + images[0].url + ')'
  }"

  [ngClass]="{
    'active-slide': true
  }"

  class="slide"
>

</div>
</ng-container>

<div *ngIf="controls" class="controls">
  <a (click)="onPrev($event)" class="control" href="#"><fa-icon [icon]="icons.left" size="2x"></fa-icon></a>
  <a (click)="onNext($event)" class="control" href="#"><fa-icon [icon]="icons.right" size="2x"></fa-icon></a>
</div>
