<div *ngIf="hikeProgram" class="hike-body container">
  <div class="grid grid-columns-12 grid-gap-1">
    <div class="col-span-12 md:col-span-8">
      <gtrack-bookmark [hikeProgramId]="hikeProgram.id"></gtrack-bookmark>

      <div *ngIf="hikeProgram.description | localizeDescription as localizedDescription" class="mb-3">
        <h1 class="text-4xl font-medium">
          {{ localizedDescription.title }}
          <ng-container *ngIf="hikeProgram.reversed"> ({{ 'pages.common.hike.reversed' | translate }})</ng-container>
        </h1>
      </div>

      <div class="my-4">
        <gtrack-description field="summary" [description]="hikeProgram.description"></gtrack-description>
      </div>

      <div class="my-4">
        <div *ngIf="images && images.length > 0" class="slides">
          <gtrack-slideshow [fullscreenGallery]="true" [controls]="true" [imageUrls]="images"></gtrack-slideshow>
        </div>
      </div>

      <div class="my-4">
        <h2 class="text-3xl font-medium mb-2">{{ 'pages.common.hike.guide' | translate }}</h2>
        <gtrack-description field="fullDescription" [description]="hikeProgram.description"></gtrack-description>
      </div>

      <div class="my-4">
        <h2 class="text-3xl font-medium mb-2">{{ 'pages.common.hike.outlineTitle' | translate }}</h2>
        <gtrack-hike-program
          [weather]="forecast$ | async"
          [speed]="speed$ | async"
          [startDate]="startDate$ | async"
          [hikeProgram]="hikeProgram"
        ></gtrack-hike-program>
      </div>
    </div>
    <div class="col-span-12 md:col-span-4">
      <div class="flex items-center">
        <h3 class="text-2xl font-medium mb-0 flex-1">{{ 'pages.common.hike.route' | translate }}</h3>
        <gtrack-download-gpx class="block" [hikeProgram]="hikeProgram"></gtrack-download-gpx>
      </div>

      <div class="my-4">
        <gtrack-hike-data-item [hikeProgram]="hikeProgram"></gtrack-hike-data-item>
      </div>

      <gtrack-hike-map
        [weather]="forecast$ | async"
        [speed]="speed$ | async"
        [startDate]="startDate$ | async"
        [hikeProgram]="hikeProgram"
      ></gtrack-hike-map>

      <div class="my-4">
        <h3 class="text-2xl font-medium mb-1">{{ 'pages.common.hike.customize' | translate }}</h3>
        <gtrack-hike-day></gtrack-hike-day>
        <gtrack-reverse-hike-button [hikeProgram]="hikeProgram"></gtrack-reverse-hike-button>
      </div>

      <div class="my-4">
        <h3 class="text-2xl font-medium mb-1">{{ 'pages.common.hike.astronomy' | translate }}</h3>
        <gtrack-sunrise
          [day]="startDate$ | async"
          [position]="[hikeProgram.stops[0].lon, hikeProgram.stops[0].lat]"
        ></gtrack-sunrise>
      </div>

      <div *ngIf="startDate$ | async as startDate" class="my-4">
        <h3 class="text-2xl font-medium mb-1">{{ 'pages.common.hike.weather.title' | translate }}</h3>
        <p>{{ 'pages.common.hike.weather.description' | translate }}</p>
        <gtrack-weather-info
          [date]="startDate"
          [position]="[hikeProgram.stops[0].lon, hikeProgram.stops[0].lat]"
        ></gtrack-weather-info>
      </div>
    </div>
  </div>

  <div class="tim-title"></div>

  <!-- <div class="tim-title">
    <h2>Checkpoints</h2>
  </div>

  <gtrack-checkpoints [checkpoints]="hikeProgram.checkpoints.checkpoints"></gtrack-checkpoints>-->
</div>
