<div class="first-section">
  <div *ngIf="hikeProgram" class="hike-body container">
    <div class="grid grid-columns-12 first-section-grid grid-gap-1">
      <!-- <gtrack-bookmark [hikeProgramId]="hikeProgram.id"></gtrack-bookmark> -->
      <div class="lg:col-span-8 md:col-span-8 col-span-12 ">
        <div *ngIf="hikeProgram.description | localizeDescription as localizedDescription">
          <h1 class="text-4xl font-normal  font-semibold">
            {{ localizedDescription.title }}
            <ng-container *ngIf="hikeProgram.reversed"> ({{ 'pages.common.hike.reversed' | translate }})</ng-container>
          </h1>
        </div>
        <gtrack-description field="summary" [description]="hikeProgram.description"></gtrack-description>
      </div>

      <div class="lg:col-span-4 md:col-span-4 col-span-12 table-container">
        <gtrack-hike-data-item [hikeProgram]="hikeProgram"></gtrack-hike-data-item>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-columns-12 grid-gap-1 second-section">
  <div class="lg:col-span-12 md:col-span-12 col-span-12">
    <div>
      <div *ngIf="images && images.length > 0">
        <gtrack-gallery [imageUrls]="images"></gtrack-gallery>
      </div>
    </div>
  </div>
</div>

<div class="gallery-section">
  <div class="hike-body container">
    <div class="grid grid-columns-12 grid-gap-1 ">
      <div class="lg:col-span-6 md:col-span-6 col-span-12">
        <h2 class="text-3xl font-normal  font-semiboldx">
          {{ 'pages.common.hike.guide' | translate }}
        </h2>
      </div>

      <div class="lg:col-span-6 md:col-span-6 col-span-12">
        <div class="cursor-pointer" [routerLink]="['/hike', hikeProgram.id, 'fullscreen']">
          <gtrack-trail-box class="block" [hikeProgram]="hikeProgram"></gtrack-trail-box>
          <gtrack-elevation-profile-line [route]="route"></gtrack-elevation-profile-line>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="third-section">
  <div class="hike-body container">
    <div class="grid grid-columns-12 grid-gap-1">
      <div class="slg:col-span-6 md:col-span-6 col-span-12">
        <h2 class="text-3xl font-normal  font-semiboldx">
          {{ 'pages.common.hike.guide' | translate }}
        </h2>
        <gtrack-description field="fullDescription" [description]="hikeProgram.description"></gtrack-description>
      </div>
      <div class="lg:col-span-6 md:col-span-6 col-span-12 weather" *ngIf="startDate$ | async as startDate">
        <h3 class="text-2xl font-normal  text-center font-semibold">
          {{ 'pages.common.hike.weather.title' | translate }}
        </h3>
        <p class="text-center">{{ 'pages.common.hike.weather.description' | translate }}</p>
        <gtrack-weather-info [date]="startDate" [position]="[hikeProgram.stops[0].lon, hikeProgram.stops[0].lat]">
        </gtrack-weather-info>
      </div>
    </div>

    <!-- <div class="flex items-center">
    <h3 class="text-2xl font-normal mb-0 flex-1">{{ 'pages.common.hike.route' | translate }}</h3>
    <gtrack-download-gpx class="block" [hikeProgram]="hikeProgram"></gtrack-download-gpx>
  </div> -->

    <!-- <div class=" ">
    <h3 class="text-2xl font-normal mb-1">{{ 'pages.common.hike.customize' | translate }}</h3>
    <gtrack-hike-day></gtrack-hike-day>
    <gtrack-reverse-hike-button [hikeProgram]="hikeProgram"></gtrack-reverse-hike-button>
  </div> -->

    <!-- <div class=" "> -->
    <!-- <h3 class="text-2xl font-normal ">{{ 'pages.common.hike.astronomy' | translate }}</h3>
    <gtrack-sunrise
      [day]="startDate$ | async"
      [position]="[hikeProgram.stops[0].lon, hikeProgram.stops[0].lat]"
    ></gtrack-sunrise> -->
    <!-- </div> -->

    <!-- <div class="tim-title"></div> -->

    <!-- <div class="tim-title">
    <h2>Checkpoints</h2>
  </div>

  <gtrack-checkpoints [checkpoints]="hikeProgram.checkpoints.checkpoints"></gtrack-checkpoints>-->
  </div>
</div>

<div class="fourth-section">
  <div class="hike-body container">
    <h2 class="text-3xl font-normal  text-center font-semibold">
      {{ 'pages.common.hike.outlineTitle' | translate }}
    </h2>
    <gtrack-hike-program
      [weather]="forecast$ | async"
      [speed]="speed$ | async"
      [startDate]="startDate$ | async"
      [hikeProgram]="hikeProgram"
    ></gtrack-hike-program>
  </div>
</div>

<gtrack-hike-settings></gtrack-hike-settings>
