<div class="container-fluid login-container">
  <div class="card">
    <div class="card-body">
      <h3>
        Login
      </h3>
      <hr>
      <p> <!-- [disabled]="loggingIn$ | async"  -->
        <button type="button" class="btn btn-social btn-fill btn-google" (click)="login()">
          <i class="fa fa-google" aria-hidden="true"></i>

          <ng-container *ngIf="(loggingIn$ | async) as loggingIn; then loginSpinner; else loginButton"></ng-container>

          <ng-template #loginButton>
            <span>Login with Google</span>
          </ng-template>

          <ng-template #loginSpinner>
            <span>
              Logging in... <i class="fa-li fa fa-spinner fa-spin login-spinner"></i>
            </span>
          </ng-template>
        </button>
      </p>
    </div>
  </div>
</div>
