gt-login {

    md-card.mat-card {
        justify-content: center;
        margin: 80px auto;
        width: 350px;

        .btn-google {
            background: #DD4B39;
            color: white;
            font-weight: normal;

            .fa-google {
                position: relative;
                top: -2px;
                font-size: 20px;
                padding-right: 10px;
                margin-right: 8px;
                border-right: #BB3F30 1px solid;
            }

            &:before {
                border-right: #972F23 1px solid;
            }
        }
    }
}
