<div class="d-flex" *ngIf="hike">
    <span class="distance hike-info-item px-1"><i class="ion-android-arrow-forward"></i> {{ hike.distance | distance }}</span>
    <span class="uphill hike-info-item px-1"><i class="ion-arrow-graph-up-right"></i> {{ hike.uphill | distance }}</span>
    <span class="downhill hike-info-item px-1"><i class="ion-arrow-graph-down-right"></i> {{ hike.downhill | distance }}</span>
    <span class="time hike-info-item px-1"><i class="ion-ios-time"></i> {{ hike.time | duration }}</span>
    <span class="score hike-info-item px-1"><i class="ion-trophy"></i> {{ hike.score }}</span>
</div>