<div class="d-flex" *ngIf="hikeProgram">
    <span class="distance hike-info-item px-1"><i class="fa fa-arrow-right"></i> {{ hikeProgram.distance | distance }}</span>
    <span class="uphill hike-info-item px-1"><i class="fa fa-sort-up"></i> {{ hikeProgram.uphill | distance }}</span>
    <span class="downhill hike-info-item px-1"><i class="fa fa-sort-down"></i> {{ hikeProgram.downhill | distance }}</span>
    <span class="time hike-info-item px-1"><i class="fa fa-clock-o"></i> {{ hikeProgram.time | duration }}</span>
    <span class="score hike-info-item px-1"><i class="fa fa-trophy"></i> {{ hikeProgram.score }}</span>
</div>
