h1.content-header(*ngIf="formDescriptor?.titleLabel") {{ formDescriptor?.titleLabel | translate }}

form.form((ngSubmit)="onSubmit()", [formGroup]="formInstance?.form", *ngIf='formInstance?.form')
  div(*ngFor="let field of formInstance?.fields")
    app-form-field([field]="field", [form]="formInstance?.form", [submit]='getOnSubmit()')

  button.mt-15(
    *ngIf="formDescriptor.submit?.translatableLabel",
    [ngClass]="formDescriptor.submit?.classList",
    [disabled]="formInstance?.form.untouched || formInstance?.form.pristine"
  )
    | {{formDescriptor.submit?.translatableLabel | translate}}
