p-calendar(
  [timeOnly]="true"
  showIcon='true',
  [(ngModel)]="value",
  [defaultDate]="defaultDate",
  [minDate]="minDate",
  [maxDate]="maxDate",
  [hourFormat]="24"
  [placeholder]='placeholder')
