:host {
  * {
    box-sizing: border-box;
  }

  :host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .deleteion-container {
    h2 {
      font-weight: 400;
    }
    p {
      text-align: justify;
    }
  }
}
