:host {
  .glide__arrow--left {
    left: 0;
    background: #33424e;
    border: #33424e;
  }
  .glide__arrow--right {
    right: 0;
    background: #33424e;
    border: #33424e;
  }
  img {
    height: 20rem;
    width: 100%;
  }
}
