:host {
  .hike-details {
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.61);
  }

  .hike-container {
    padding-bottom: 76.2%;
    background-color: #22292f;
  }

  &.card-shadow-default {
    .hike-container {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    }
  }

  .card-title {
    white-space: normal;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    //sm
    @media screen and (max-width: 576px) {
      font-size: 1.5rem;
    }
  }
  .card-subtitle {
    white-space: normal;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
  }
  .teaser {
    padding: 0.25rem;
  }
}
