$silent: false !default;

$modules: (
  appearance: (
    'responsive'
  ),
  backgroundAttachment: (
    'responsive'
  ),
  backgroundColors: (
    'responsive',
    'hover',
    'focus'
  ),
  backgroundPosition: (
    'responsive'
  ),
  backgroundRepeat: (
    'responsive'
  ),
  backgroundSize: (
    'responsive'
  ),
  borderCollapse: (),
  borderColors: (
    'responsive',
    'hover',
    'focus'
  ),
  borderRadius: (
    'responsive'
  ),
  borderStyle: (
    'responsive'
  ),
  borderWidths: (
    'responsive'
  ),
  cursor: (
    'responsive'
  ),
  display: (
    'responsive'
  ),
  flexbox: (
    'responsive'
  ),
  float: (
    'responsive'
  ),
  fonts: (
    'responsive'
  ),
  fontWeights: (
    'responsive',
    'hover',
    'focus'
  ),
  grid: (
    'responsive'
  ),
  height: (
    'responsive'
  ),
  leading: (
    'responsive'
  ),
  lists: (
    'responsive'
  ),
  margin: (
    'responsive'
  ),
  maxHeight: (
    'responsive'
  ),
  maxWidth: (
    'responsive'
  ),
  minHeight: (
    'responsive'
  ),
  minWidth: (
    'responsive'
  ),
  negativeMargin: (
    'responsive'
  ),
  objectFit: false,
  objectPosition: false,
  opacity: (
    'responsive'
  ),
  outline: (
    'focus'
  ),
  overflow: (
    'responsive'
  ),
  padding: (
    'responsive'
  ),
  pointerEvents: (
    'responsive'
  ),
  position: (
    'responsive'
  ),
  resize: (
    'responsive'
  ),
  shadows: (
    'responsive',
    'hover',
    'focus'
  ),
  svgFill: (),
  svgStroke: (),
  tableLayout: (
    'responsive'
  ),
  textAlign: (
    'responsive'
  ),
  textColors: (
    'responsive',
    'hover',
    'focus'
  ),
  textSizes: (
    'responsive'
  ),
  textStyle: (
    'responsive',
    'hover',
    'focus'
  ),
  tracking: (
    'responsive'
  ),
  userSelect: (
    'responsive'
  ),
  verticalAlign: (
    'responsive'
  ),
  visibility: (
    'responsive'
  ),
  whitespace: (
    'responsive'
  ),
  width: (
    'responsive'
  ),
  zIndex: (
    'responsive'
  )
) !default;

$gridConfig: (
  grids: (
    2,
    3,
    5,
    6,
    8,
    10,
    12
  ),
  gaps: (
    0: '0',
    1: '15px'
  )
) !default;

$containerConfig: (
  center: true,
  padding: '15px',
  screens: (
    '1260px'
  )
) !default;
