.content(*ngIf='!(uploadOptions?.uploading$ | async) else spinner')
  fa-icon([icon]="icon", size="2x", *ngIf='uploaded$ | async')
  p-fileUpload(
    name="myfile[]",
    [mode]="mode",
    customUpload="true",
    (uploadHandler)="uploadOptions.uploadHandler($event)",
    auto="true",
    [chooseLabel]="placeholder"
  )

ng-template(#spinner)
  app-busy-indicator
