<table class="table table-hover">
  <thead class="text-success">
    <tr>
      <th>Icon</th>
      <th>Title</th>
      <th>Distance from route</th>
      <th>Types</th>
      <th>Special</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let poi of (pois$ | async); let idx = index">
      <tr *ngIf="!!poi.onRoute === onRouteCheck">
        <td><poi-icons [poi]="poi"></poi-icons></td>
        <td [ngClass]="{'text-danger': !poi.inGtrackDb}">{{poi.description.en.title}}</td>
        <td>{{poi.distFromRoute | distance : true}}</td>
        <td>{{poi.types.join(', ')}}</td>
        <td><special-poi-data [poi]="poi"></special-poi-data></td>
        <td class="td-actions">
          <button
            class="btn btn-simple btn-link"
            [ngClass]="{'btn-success': !poi.inHike, 'btn-danger': poi.inHike}"
            (click)="handleInHikePoi($event, poi)" 
            title="{{poi.inHike ? 'Remove': 'Add'}} poi">
            <i class="material-icons">{{poi.inHike ? 'remove_circle': 'add_circle'}}</i>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
