<button (click)="toggleFilters()" class="show-filters-button ui-button ui-button-default">{{ showFilters ? 'Close' : 'Filters' }} </button>

<div *ngIf="showFilters" class="filters-container">
  <form [formGroup]="filterForm">
    <div class="filters">
      <div class="filter">
        <label>Max search distance: {{ filterForm.get('radius').value }} km</label>
        <nouislider [connect]="[true, false]" [step]="1" [min]="1" [max]="200" [formControl]="filterForm.controls.radius"></nouislider>
      </div>

      <div class="filter">
        <label>Difficulty: {{ filterForm.get('difficulty').value[0] }} - {{ filterForm.get('difficulty').value[1] }}</label>
        <nouislider [connect]="true" [step]="1" [min]="0" [max]="10" [formControl]="filterForm.controls.difficulty"></nouislider>
      </div>

      <div class="filter">
        <label>Length: {{ filterForm.get('length').value[0] }} - {{ filterForm.get('length').value[1] }} km</label>
        <nouislider [connect]="true" [step]="1" [min]="0" [max]="50" [formControl]="filterForm.controls.length"></nouislider>
      </div>

      <div class="filter">
        <label>Length: {{ filterForm.get('time').value[0] }} - {{ filterForm.get('time').value[1] }}h</label>
        <nouislider [connect]="true" [step]="1" [min]="0" [max]="10" [formControl]="filterForm.controls.time"></nouislider>
      </div>
    </div>
  </form>
</div>
