:host {
  .angular-leaflet-map {
    width: 100%;
    height: 400px;
  }

  gc-leaflet {
    position: relative;
  }

  .map-button-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 450;
    
    .map-button {
      padding: 10px;
    }
  }
}
