<gc-leaflet #map [layers]="layers" [center]="center">
  <div class="map-button-container">
    <button (click)="goToCurrentPosition($event)" class="map-button">Go to current position</button>
    <button (click)="resetMap($event)" class="map-button">Reset map</button>
  </div>
</gc-leaflet>
<button *ngIf="!checkpointsOnly" (click)="showCheckpointsOnly($event)">Checkpoints only</button>
<button *ngIf="checkpointsOnly" (click)="showCheckpointsOnly($event)">Checkpoints only</button>
<button *ngIf="checkpointsOnly" (click)="showAllPoints($event)">All points</button>
<button *ngIf="!checkpointsOnly" (click)="showAllPoints($event)">All points</button>