gtrack-elevation-profile {
  .elevation-profile-container {
    width: 100%;
    overflow-x: auto;
  }

  .axis-line-time {
    .domain {
      display: none;
    }

    .tick {
      text {
        font-size: 7px;
        fill: #555555;
      }
    }
  }
}
