@import 'base/variables';
// @import '~quill/dist/quill.core.css';
// @import '~quill/dist/quill.snow.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/primeng.css';
@import 'layout/layout';
@import '~primeng/resources/themes/omega/theme.css';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet.fullscreen/Control.FullScreen.css';
@import '~leaflet-usermarker/src/leaflet.usermarker.css';

@import 'mixins';
@import 'defaults';
@import 'utilities';
@import 'components';
a {
  cursor: pointer;
}

.routing-control-marker {
  background-image: url('/assets/marker/pin.svg') !important;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;

  border: 0;
  text-align: center;
  span {
    position: relative;
    font-family: 'sans-serif';
    top: 2px;
    color: black;
    font-size: 13px;
    font-weight: bold;
  }
}

.leaflet-routing-container {
  display: none !important;
}
