<div class="clearfix mb-20">
  <p-checkbox
    class="f-right ml-20"
    label="Show offroute markers"
    binary="true"
    [(ngModel)]="showOffrouteMarkers"
    (click)="toggleOffrouteMarkers()"
  ></p-checkbox>

  <p-checkbox
    class="f-right"
    label="Show onroute markers"
    binary="true"
    [(ngModel)]="showOnrouteMarkers"
    (click)="toggleOnrouteMarkers()"
  ></p-checkbox>
</div>

<p-accordion [multiple]="true">
  <p-accordionTab header="On route pois">
    <hike-edit-pois-hike-table
      [pois$]="pois$"
      [onRouteCheck]="true">
    </hike-edit-pois-hike-table>
  </p-accordionTab>
  <p-accordionTab header="Off route pois">
    <hike-edit-pois-hike-table
      [pois$]="pois$"
      [onRouteCheck]="false">
    </hike-edit-pois-hike-table>
  </p-accordionTab>
</p-accordion>
