<p-dialog
  header="Merge pois"
  [(visible)]="displayGTrackPoiModal"
  [modal]="true"
  [closable]="true"
  [width]="600"
>
  <gt-hike-edit-gtrack-poi-info
    *ngIf="displayGTrackPoiModal"
    [poiId]="modalPoiId"
  ></gt-hike-edit-gtrack-poi-info>
</p-dialog>

<div class="clearfix mb-20">
  <p-checkbox
    class="f-right ml-20"
    label="Show offroute markers"
    binary="true"
    [(ngModel)]="showOffrouteMarkers"
    (onChange)="toggleOffrouteMarkers()"
  ></p-checkbox>

  <p-checkbox
    class="f-right"
    label="Show onroute markers"
    binary="true"
    [(ngModel)]="showOnrouteMarkers"
    (onChange)="toggleOnrouteMarkers()"
  ></p-checkbox>
</div>

<p-accordion [multiple]="true">
  <p-accordionTab header="On route pois">
    <hike-edit-pois-hike-table
      [pois$]="pois$"
      [onRouteCheck]="true"
      [openGTrackPoiModal]="openGTrackPoiModal"
    ></hike-edit-pois-hike-table>
  </p-accordionTab>
  <p-accordionTab header="Off route pois">
    <hike-edit-pois-hike-table
      [pois$]="pois$"
      [onRouteCheck]="false"
      [openGTrackPoiModal]="openGTrackPoiModal"
    ></hike-edit-pois-hike-table>
  </p-accordionTab>
</p-accordion>
