<table class="table table-hover">
  <thead class="text-success">
    <tr>
      <th>Icon</th>
      <th>Title</th>
      <th>Distance from route</th>
      <th>Types</th>
      <th>Origin</th>
      <th>Special</th>
      <th>Handles</th>
      <th>Elevation</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let poi of (pois$ | async); let idx = index">
      <tr *ngIf="poi.onRoute === onRouteCheck">
        <td><poi-icons [poi]="poi"></poi-icons></td>
        <td [ngClass]="{'text-danger': !poi.inGtrackDb}">{{poi.description.en.title}}</td>
        <td>{{poi.distFromRoute | distance : true}}</td>
        <td>{{poi.types.join(', ')}}</td>
        <td>todo origin</td>
        <td><special-poi-data [poi]="poi"></special-poi-data></td>
        <td>
          <a (click)="handleInHikePoi($event, poi)" [ngClass]="{'text-success': !poi.inHike, 'text-danger': poi.inHike}">
            {{poi.inHike ? 'remove': 'add'}}
          </a>
        </td>
        <td>todo elevation</td>
      </tr>
    </ng-container>
  </tbody>
</table>
