<ng-container *ngIf="(images$ | async) as images">
  <p-table [value]="images | poiImagesWithinCircle : distanceFrom">
    <ng-template pTemplate="header">
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Background</th>
        <th>Marker</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-image>
      <tr>
        <td>
          <a href="{{image.original.url}}" target="_blank">
            <img *ngIf="image.source.type === 'wikipedia'" class="thumbs" src="{{image.original.url}}">
            <img *ngIf="image.source.type !== 'wikipedia'" class="thumbs" src="{{image.thumbnail.url}}">
          </a>
        </td>
        <td [innerHTML]="image.title | trustedHtml"></td>
        <td class="text-center">
          <p-checkbox
            binary="true"
            [(ngModel)]="imageSelections[image.original.url]"
            (onChange)="toggleBackgroundImage(image)"
          ></p-checkbox>
        </td>
        <td class="text-center">
          <p-checkbox
            binary="true"
            [(ngModel)]="imageMarkerSelections[image.original.url]"
            (onChange)="toggleImageMarker(image)"
          ></p-checkbox>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
