<table class="table table-hover">
  <thead class="text-success">
    <tr>
      <th>Thumbnail</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let photo of (photos$ | async); let idx = index">
      <tr>
        <td><a href="{{photo.original.source}}" target="_blank"><img class="thumbs" src="{{photo.thumbnail.source}}"></a></td>
        <td [innerHTML]="photo.title | trustedHtml"></td>
        <td class="td-actions">
          ...
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
