gt-page-not-found {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & > .center-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            max-width: 420px;
            text-align: center;
            margin-bottom: 100px;

            .material-icons {
                font-size:50px !important;
            }
        }
    }
}
