<div class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input placeholder="Search here" #search type="text" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" />
  </div>
  <button (click)="requestLocation()" type="button" class="btn mb-2">&nbsp;<i class="ion-icon ion-ios-navigate"></i>&nbsp;</button>
</div>


<div class="row">
  <div class="col-6">
    <nouislider [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="radiusRange" (change)="onRadiusChange($event)" [tooltips]="false" class="slider"></nouislider>
  </div>
</div>
