.title {
  margin-bottom: 10px;
}

.slideshow-container {
  float: left;
  margin: 0 15px 0px 0;

  width: 120px;
  height: 100px;
  display: block;
  position: relative;
}

:host .leaflet-popup-content {
  margin: 130px;
  width:auto !important;
}