<!-- GTrack poi photo -->
<div *ngIf="data.backgroundImages && data.backgroundImages.length > 0" class="img">
  <img src="{{data.backgroundImages[0].card.url}}">
</div>

<!-- Wikipedia poi photo -->
<div *ngIf="data.wikipedia && data.wikipedia.photos && data.wikipedia.photos.length > 0" class="img">
  <img src="{{data.wikipedia.photos[0].original.url}}">
</div>

<!-- Google poi photo -->
<div *ngIf="data.google && data.google.photos && data.google.photos.length > 0" class="img">
  <img src="{{data.google.photos[0].card.url}}">
</div>

<!-- DATA -->
<div class="title">
  <h3>{{(data.description | localizeDescription).title}}</h3>
</div>

<div>
  <strong>Dist/Route</strong>: {{data.distFromRoute}}m
</div>

<div>
  <strong>markerType</strong>: {{data.markerType}}
</div>

<!-- Buttons -->

<div *ngIf="(isPlanning$ | async)">
  <p-button
    class="mt-20"
    label="{{btnTitle}}"
    styleClass="ui-button-{{btnClass}}"
    (onClick)="btnClick()"
  ></p-button>

  <p-button
    class="mt-20"
    label="{{btn2Title}}"
    styleClass="ui-button-{{btn2Class}} ml-5"
    (onClick)="btn2Click()"
    *ngIf="btn2Click"
  ></p-button>
</div>

<div class="clearfix"></div>

