<ng-container *ngIf="(description | localizeDescription) as localizedDescription">
  <div *ngIf="showTitle" class="tim-title">
    <h1>{{ localizedDescription.title }}</h1>
  </div>

  <gtrack-html-description
    *ngIf="localizedDescription.type === eTextualDescriptionType.html"
    [localizedDescription]="localizedDescription"
  ></gtrack-html-description>
  <gtrack-markdown-description
    *ngIf="localizedDescription.type === eTextualDescriptionType.markdown"
    [localizedDescription]="localizedDescription"
  ></gtrack-markdown-description>
</ng-container>
