<ng-container *ngIf="(description | localizeDescription) as localizedDescription">
    <div class="tim-title">
        <h1>{{ localizedDescription.title }}</h1>
    </div>

    <!-- <p *ngIf="localizedDescription.summary" [gtrackSanitizeHtml]='localizedDescription.summary'></p>
  <p *ngIf="localizedDescription.fullDescription" [gtrackSanitizeHtml]='localizedDescription.fullDescription'></p> -->
    <ngx-md *ngIf="localizedDescription.summary" [data]='localizedDescription.summary'></ngx-md>
    <ngx-md *ngIf="localizedDescription.fullDescription" [data]='localizedDescription.fullDescription'></ngx-md>
</ng-container>