<div class="clearfix mb-2">
  <div class="pull-left">
    <button class="btn btn-sm btn-fill btn-success" (click)="savePois()">Save to hike</button>
    <button
      class="btn btn-sm btn-fill btn-success"
      (click)="getPois()"
      [disabled]="(routeInfoData$ | async)?.segments.length < 1"
    >Get new</button>
  </div>

  <div class="pull-left" *ngIf="(searchContext$ | async)?.working"><i class="fa-li fa fa-spinner fa-spin poi-spinner"></i></div>

  <div class="pull-right">
    <div class="form-check inline-checkbox">
      <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="optionsCheckboxes" [checked]="showOnrouteMarkers$ | async" (change)="toggleOnrouteMarkers()">
          <span class="form-check-sign"></span>
          Show onroute markers
      </label>
    </div>
    <div class="form-check inline-checkbox">
      <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="optionsCheckboxes" [checked]="showOffrouteMarkers$ | async" (change)="toggleOffrouteMarkers()">
          <span class="form-check-sign"></span>
          Show offroute markers
      </label>
    </div>
  </div>
</div>

<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card mb-1">
    <div class="card-header bg-light" id="headingOne" role="tab">
      <h5>
        <a aria-controls="collapseOne" aria-expanded="false" data-toggle="collapse" href="#collapse_gtrack_off" role="button" class="collapsed">
          <div class="text-success">
            On route pois
            <i class="material-icons pull-right">keyboard_arrow_down</i>
          </div>
        </a>
      </h5>
    </div>
    <div aria-labelledby="headingOne" class="collapse" id="collapse_gtrack_off" role="tabpanel" aria-expanded="false" style="height: 0px;">
      <div class="card-body">
        <hike-edit-pois-gtrack-table
          [pois$]="pois$"
          [onRouteCheck]="true">
        </hike-edit-pois-gtrack-table>
      </div>
    </div>
  </div>

  <div class="card mb-1">
    <div class="card-header bg-light" id="headingOne" role="tab">
      <h5>
        <a aria-controls="collapseOne" aria-expanded="false" data-toggle="collapse" href="#collapse_gtrack_on" role="button" class="collapsed">
          <div class="text-success">
            Off route pois
            <i class="material-icons pull-right">keyboard_arrow_down</i>
          </div>
        </a>
      </h5>
    </div>
    <div aria-labelledby="headingOne" class="collapse" id="collapse_gtrack_on" role="tabpanel" aria-expanded="false" style="height: 0px;">
      <div class="card-body">
        <hike-edit-pois-gtrack-table
          [pois$]="pois$"
          [onRouteCheck]="false">
        </hike-edit-pois-gtrack-table>
      </div>
    </div>
  </div>
</div>
