<p-dialog
  header="{{translateDescription(modalPoi?.description, 'title')}}"
  [(visible)]="displayGTrackPoiModal"
  [modal]="true"
  [closable]="true"
  [width]="600"
>
  <gt-hike-edit-gtrack-poi-info
    *ngIf="displayGTrackPoiModal"
    [poiId]="modalPoi.id"
    [closeModal]="closeModal"
  ></gt-hike-edit-gtrack-poi-info>
</p-dialog>

<div class="clearfix mb-20">
  <div class="f-left">
    <p-button
      label="Get new"
      styleClass="ui-button-primary"
      (onClick)="getPois()"
      [disabled]="(routePath$ | async)?.geometry.coordinates.length < 1 || (searchContext$ | async)?.working"
    ></p-button>
  </div>

  <div class="f-right">
    <p-checkbox
      class="f-right ml-20"
      label="Show offroute markers"
      binary="true"
      [(ngModel)]="showOffrouteMarkers"
      (onChange)="toggleOffrouteMarkers()"
    ></p-checkbox>

    <p-checkbox
      class="f-right"
      label="Show onroute markers"
      binary="true"
      [(ngModel)]="showOnrouteMarkers"
      (onChange)="toggleOnrouteMarkers()"
    ></p-checkbox>
  </div>
</div>

<gt-table-spinner *ngIf="(searchContext$ | async)?.working as working; else hikePoiTable"></gt-table-spinner>

<ng-template #hikePoiTable>
  <p-accordion [multiple]="true">
    <p-accordionTab header="On route pois">
      <hike-edit-pois-gtrack-table
        [pois$]="pois$"
        [onRouteCheck]="true"
        [openGTrackPoiModal]="openGTrackPoiModal"
      ></hike-edit-pois-gtrack-table>
    </p-accordionTab>
    <p-accordionTab header="Off route pois">
      <hike-edit-pois-gtrack-table
        [pois$]="pois$"
        [onRouteCheck]="false"
        [openGTrackPoiModal]="openGTrackPoiModal"
      ></hike-edit-pois-gtrack-table>
    </p-accordionTab>
  </p-accordion>
</ng-template>
