<p-dialog header="{{ (modalPoi?.description | localizeDescription).title }}" [(visible)]="displayGTrackPoiModal"
  [modal]="true" [closable]="true" [width]="600" [blockScroll]="true">
  <app-hike-edit-gtrack-poi-info *ngIf="displayGTrackPoiModal" [poiId]="modalPoi.id" [closeModal]="closeModal">
  </app-hike-edit-gtrack-poi-info>
</p-dialog>

<div class="clearfix mb-20">
  <div class="f-left">
    <p-button label="Get new" styleClass="ui-button-primary" (onClick)="getPois()"
      [disabled]="(segments$ | async)?.length < 1 || (searchContext$ | async)?.working || (isPlanning$ | async) === false">
    </p-button>
  </div>

  <div class="f-right">
    <p-checkbox class="f-right ml-20" label="Show offroute markers" binary="true" [(ngModel)]="showOffrouteMarkers"
      (onChange)="toggleOffrouteMarkers()" [disabled]="(isPlanning$ | async) === false"></p-checkbox>

    <p-checkbox class="f-right" label="Show onroute markers" binary="true" [(ngModel)]="showOnrouteMarkers"
      (onChange)="toggleOnrouteMarkers()" [disabled]="(isPlanning$ | async) === false"></p-checkbox>
  </div>
</div>

<app-table-spinner *ngIf="(searchContext$ | async)?.working as working; else hikePoiTable"></app-table-spinner>

<ng-template #hikePoiTable>
  <p-accordion [multiple]="true">
    <p-accordionTab header="On route pois">
      <app-hike-edit-pois-gtrack-table [pois$]="pois$" [onRouteCheck]="true" [openGTrackPoiModal]="openGTrackPoiModal">
      </app-hike-edit-pois-gtrack-table>
    </p-accordionTab>
    <p-accordionTab header="Off route pois">
      <app-hike-edit-pois-gtrack-table [pois$]="pois$" [onRouteCheck]="false" [openGTrackPoiModal]="openGTrackPoiModal">
      </app-hike-edit-pois-gtrack-table>
    </p-accordionTab>
  </p-accordion>
</ng-template>