<div class="flex h-12 bg-black text-white rounded-br-lg rounded-bl-lg" *ngIf="hikeProgram">
  <span class="distance hike-info-item px-1 rounded-bl-lg flex flex-col justify-center w-full items-center text-xs">
    <fa-icon [icon]="faArrowRight"></fa-icon> {{ hikeProgram.distance | distance }}</span
  >
  <span class="uphill hike-info-item px-1 flex flex-col justify-center w-full items-center text-xs">
    <fa-icon [icon]="faSortUp"></fa-icon> {{ hikeProgram.uphill | distance }}</span
  >
  <span class="downhill hike-info-item px-1 flex flex-col justify-center w-full items-center text-xs ">
    <fa-icon [icon]="faSortDown"></fa-icon> {{ hikeProgram.downhill | distance }}</span
  >
  <span class="time hike-info-item px-1 flex flex-col justify-center w-full items-center text-xs">
    <fa-icon [icon]="faClock"></fa-icon> {{ hikeProgram.time | duration }}</span
  >
  <span class="score hike-info-item px-1 rounded-br-lg flex flex-col justify-center w-full items-center text-xs">
    <fa-icon [icon]="faTrophy"></fa-icon> {{ hikeProgram.score }}</span
  >
</div>
