<p-dialog
  header="{{translateDescription(modalPoi?.description, 'title')}}"
  [(visible)]="displayPoiModal"
  [modal]="true"
  [closable]="true"
  [width]="600"
  >
  <gt-hike-edit-external-poi-info
    *ngIf="displayPoiModal"
    [poi]="modalPoi"
  ></gt-hike-edit-external-poi-info>
</p-dialog>

<p-dialog
  header="Merge pois"
  [(visible)]="displayMergeModal"
  [modal]="true"
  [closable]="true"
  [width]="600"
>
  <gt-hike-edit-merge-gtrack-poi-info
    *ngIf="displayMergeModal"
    [conflicts]="mergeProperties.conflicts"
    [saveCallback]="saveMergedPoi"
  ></gt-hike-edit-merge-gtrack-poi-info>
</p-dialog>

<div class="clearfix mb-20">
  <div class="f-left">
    <p-button
      label="Save as GTrack poi"
      styleClass="ui-button-success"
      (onClick)="savePois()"
      [disabled]="(selectedPois$ | async).length === 0"
    ></p-button>

    <p-button
      label="Merge pois"
      styleClass="ui-button-primary ml-5"
      (onClick)="mergePois()"
      [disabled]="(mergeSelectionCount$ | async) < 2"
    ></p-button>

    <p-button
      label="Remove selected"
      styleClass="ui-button-danger ml-5"
      (onClick)="removeSelectedPois()"
      [disabled]="(selectedPois$ | async).length === 0"
    ></p-button>
  </div>

  <div class="f-right">
    <p-checkbox
      class="f-right ml-20"
      label="Show offroute markers"
      binary="true"
      [(ngModel)]="showOffrouteMarkers"
      (onChange)="toggleOffrouteMarkers()"
    ></p-checkbox>

    <p-checkbox
      class="f-right"
      label="Show onroute markers"
      binary="true"
      [(ngModel)]="showOnrouteMarkers"
      (onChange)="toggleOnrouteMarkers()"
    ></p-checkbox>
  </div>
</div>

<p-accordion [multiple]="true">
  <p-accordionTab header="On route pois">
    <hike-edit-pois-collector-table
      [pois$]="pois$"
      [onRouteCheck]="true"
      [openPoiModal]="openPoiModal"
    ></hike-edit-pois-collector-table>
  </p-accordionTab>
  <p-accordionTab header="Off route pois">
    <hike-edit-pois-collector-table
      [pois$]="pois$"
      [onRouteCheck]="false"
      [openPoiModal]="openPoiModal"
    ></hike-edit-pois-collector-table>
  </p-accordionTab>
</p-accordion>
