
<ng-container *ngIf="(stops$ | async) as stops">
  <p-table [value]="stops" *ngIf="stops.length > 0">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Poi</th>
        <th>Distance from origo</th>
        <th>Segment length</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-stop let-rowIndex="rowIndex">
      <tr>
        <td>{{rowIndex + 1}}.</td>
        <td *ngIf="rowIndex > 0 && rowIndex < (stops.length - 1)">{{translateDescription(stop.description, 'title')}}</td>
        <td *ngIf="rowIndex === 0" class="icon"><img title="Start" [src]="startIcon" /></td>
        <td *ngIf="rowIndex === (stops.length - 1)" class="icon" ><img title="Finish" [src]="finishIcon" /></td>
        <td>{{stop.distanceFromOrigo | distance}}</td>
        <td>{{stop.segment.distance | distance}}</td>
      </tr>
    </ng-template>
  </p-table>

  <div *ngIf="stops.length === 0">No stops.</div>
</ng-container>