<table class="table" *ngIf="hikeProgram">
  <tr>
    <td>{{ 'common.hike.data.difficulty' | translate }}</td>
    <td>
      <span [ngClass]="'difficulty-' + hikeProgram.difficulty" class="difficulty">
        {{ hikeProgram.difficulty | difficulty | translate }}
      </span>
    </td>
  </tr>
  <tr>
    <td>{{ 'common.hike.data.distance' | translate }}</td>
    <td>{{ hikeProgram.distance | distance }}</td>
  </tr>

  <tr>
    <td>{{ 'common.hike.data.uphill' | translate }}</td>
    <td>{{ hikeProgram.uphill | distance }}</td>
  </tr>

  <tr>
    <td>{{ 'common.hike.data.downhill' | translate }}</td>
    <td>{{ hikeProgram.downhill | distance }}</td>
  </tr>

  <tr>
    <td>{{ 'common.hike.data.walkTime' | translate }}</td>
    <td>{{ hikeProgram.time | duration }}</td>
  </tr>

  <tr>
    <td>{{ 'common.hike.data.score' | translate }}</td>
    <td>{{ hikeProgram.score }}</td>
  </tr>
</table>
