:host toaster-container {
  position: relative !important;
  z-index: 1000000000 !important;
}

:host ::ng-deep p-dialog {
  z-index: 10000000 !important;
  position: relative;

  .ui-dialog {
    overflow: scroll;
    max-height: 90%;
  }
}
