/*
:host toaster-container {
  position: relative !important;
  z-index: 1000000000 !important;
}
*/

:host ::ng-deep p-dialog {
  z-index: 10000000 !important;
  position: relative;

  .ui-dialog-content {
    overflow: scroll;
    max-height: 90%;
  }
}

:host ::ng-deep p-confirmdialog {
  z-index: 20000000 !important;
  position: relative;
}

// OVERRIDE COMMON FORM STYLES -->

:host ::ng-deep {
  .general-button {
    width: auto !important;
    height: auto !important;
    padding: 3px 12px !important;
    border: 1px solid #2399e5 !important;
    border-radius: 3px !important;
    color: white !important;
    background-color: #2399e5 !important;
    text-transform: inherit !important;
    cursor: pointer;
  }

  .general-button:hover {
    border: 1px solid #1f89ce !important;
    background: #1f89ce !important;
  }

  .general-button span {
    box-sizing: border-box !important;
    color: white !important;
    cursor: pointer !important;
    text-align: center !important;
    text-transform: inherit !important;
    transition: none !important;
  }

  .general-button:hover span {
    transition: none !important;
  }
}
