.site
  h1 Hello, this is an empty Angular 4 site.
  //- router-outlet

  div(*ngIf="!(loggedIn$ | async)" (click)="login()") Login with google
  div(*ngIf="loggedIn$ | async" (click)="logout()") Logout

  div(*ngIf="loggedIn$ | async")
    h2 User is logged in. The auth object:
    pre {{ auth$ | async }}
