.card-header {
  .btn {
    margin-left: 10px;
  }
}

table.table {
  th:last-child,
  td:last-child {
    text-align: right !important;
    button {
      padding: 0 12px;
    }
  }
}

.card-header {
  .btn-round {
    padding: 8px 12px;
  }
}
