gt-hike-list {
    .btn-sm {
        padding: 6px !important;
        margin-left : 10px;
    }

    th:last-child, td:last-child {
        width: 200px;
        text-align: right !important;
    }
}
