<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <button
                class="btn btn-round"
                routerLink="/admin/hike/new"
                title="Add new hike">
                <i class="material-icons">add</i>
              </button>
            <h4 class="card-title">Hikes</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Summary</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hike of (hikeList$ | async)">
                    <td class="text-nowrap">
                      <a href="#" routerLink="/admin/hike/{{hike.id}}">{{translateDescription(hike.description, 'title')}}</a>
                      <small class="text-secondary">({{hike.id}})</small>
                    </td>
                    <td>{{translateDescription(hike.description, 'summary')}}</td>
                    <td class="td-actions">
                      <button
                        class="btn btn-warning btn-simple btn-link"
                        routerLink="/admin/hike/{{hike.id}}"
                        title="Edit hike">
                        <i class="material-icons">edit</i>
                      </button>
                      <button
                        class="btn btn-danger btn-simple btn-link"
                        (click)="deleteHike(hike.id)"
                        title="Delete hike">
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
