<div class="hike-container card relative rounded-lg" *ngIf="hikeProgram">
  <div
    [ngStyle]="{ 'background-image': 'url(' + image + ')' }"
    class="flex flex-col absolute w-full h-full justify-between h-64 rounded-lg bg-cover"
  >
    <gtrack-bookmark [hikeProgramId]="hikeProgram.id"></gtrack-bookmark>

    <div class="flex flex-col items-center uppercase text-white hike-details">
      <h2 class="card-title font-extrabold text-xl sm:text-4xl md:text-xl lg:text-2xl">
        {{ (hikeProgram.description | localizeDescription).title }}
      </h2>
      <h6 class="card-subtitle font-medium"><i class="ion-ios-location"></i> {{ hikeProgram.location }}</h6>
    </div>

    <div class="flex flex-col">
      <div class="text-center italic text-xs bg-white text-black">
        A megye legszebb naplementéje
      </div>
      <gtrack-hike-info class="w-full" [hikeProgram]="hikeProgram"></gtrack-hike-info>
    </div>
  </div>
</div>
