:host {
    .hike-card-background {
        background-color: gray;
        background-size: cover;
        background-position: 50% 50%;
    }
    .card-body {
        height: 300px;
        z-index: 300;
        position: relative;
        .card-row {
            flex: 1;
        }
        .card-center {
            h2,
            h6 {
                text-align: center;
                color: #FFFFFF;
                text-transform: uppercase;
                font-weight: bold;
                text-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
            }
            width: 100%;
        }
        .card-meta {
            color: #FFFFFF;
            width: 100%;
        }
    }
}
