:host {
  .general-button {
    background-position: 25px 0px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    justify-content: center;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    transition: all 0.3s ease;
    background: transparent;
    border: 1px solid #339932;
    border-radius: 0.5rem;
    color: #339932;
    text-align: center;
  }

  .general-button:hover {
    border-color: #339932;
    background: #339932;
    transition: all 0.3s ease-out;
  }

  .general-button span {
    box-sizing: border-box;
    color: #339932;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none black;
    outline: white none 0px;
    transition: all 0.3s ease;
  }

  .general-button:hover span {
    color: white;
    transition: all 0.3s ease;
  }
}
