<div class="carousel">
  <div class="carousel-inner">
    <input
      class="carousel-open"
      type="radio"
      id="carousel-1"
      name="carousel"
      aria-hidden="true"
      hidden=""
      checked="checked"
    />
    <div class="carousel-item">
      <div class="title">
        <div class="main-title">{{ 'marketing.mainTitles.first' | translate }}</div>
        <div class="sub-title">
          {{ 'marketing.subTitles.first' | translate }}
        </div>
      </div>
    </div>
    <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="" />
    <div class="carousel-item">
      <div class="title">
        <div class="main-title">{{ 'marketing.mainTitles.second' | translate }}</div>
        <div class="sub-title">{{ 'marketing.subTitles.second' | translate }}</div>
      </div>
    </div>
    <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="" />
    <div class="carousel-item">
      <div class="title">
        <div class="main-title">{{ 'marketing.mainTitles.third' | translate }}</div>
        <div class="sub-title">{{ 'marketing.subTitles.third' | translate }}</div>
      </div>
    </div>
    <label for="carousel-3" class="carousel-control prev control-1"> <fa-icon [icon]="leftIcon"></fa-icon> </label>
    <label for="carousel-2" class="carousel-control next control-1"><fa-icon [icon]="rightIcon"></fa-icon></label>
    <label for="carousel-1" class="carousel-control prev control-2"><fa-icon [icon]="leftIcon"></fa-icon></label>
    <label for="carousel-3" class="carousel-control next control-2"><fa-icon [icon]="rightIcon"></fa-icon></label>
    <label for="carousel-2" class="carousel-control prev control-3"><fa-icon [icon]="leftIcon"></fa-icon></label>
    <label for="carousel-1" class="carousel-control next control-3"><fa-icon [icon]="rightIcon"></fa-icon></label>
    <ol class="carousel-indicators">
      <li>
        <label class="carousel-secondary-control"><fa-icon [icon]="circle"></fa-icon></label>
      </li>
      <li>
        <label class="carousel-secondary-control"><fa-icon [icon]="circle"></fa-icon></label>
      </li>
      <li>
        <label class="carousel-secondary-control"><fa-icon [icon]="circle"></fa-icon></label>
      </li>
    </ol>
  </div>
</div>
