<gt-background-images [bgImages$]="bgImages$"></gt-background-images>

<p-accordion [multiple]="true">
  <p-accordionTab header="Google ({{(googlePhotos$ | async).length}})">
    <gt-hike-edit-photos-table
      [images$]="googlePhotos$"
      [backgroundOriginalUrls$]="backgroundOriginalUrls$"
      [clickActions]="clickActions"
    ></gt-hike-edit-photos-table>
  </p-accordionTab>
  <p-accordionTab header="Wikipedia ({{(wikipediaPhotos$ | async).length}})">
    <gt-hike-edit-photos-table
      [images$]="wikipediaPhotos$"
      [backgroundOriginalUrls$]="backgroundOriginalUrls$"
      [clickActions]="clickActions"
    ></gt-hike-edit-photos-table>
  </p-accordionTab>
  <p-accordionTab header="Mapillary ({{(mapillaryImages$ | async).length}})">
    <div class="mb-20">
      <p-button
        label="Get new"
        styleClass="ui-button-success"
        (onClick)="getMapillaryPhotos()"
        [disabled]="(routePath$ | async)?.geometry.coordinates.length < 1 || (mapillaryLoading$ | async)"
      ></p-button>
    </div>

    <gt-table-spinner *ngIf="(mapillaryLoading$ | async) as mapillaryLoading; else mapillaryTable"></gt-table-spinner>

    <ng-template #mapillaryTable>
      <gt-hike-edit-photos-table
        [images$]="mapillaryImages$"
        [backgroundOriginalUrls$]="backgroundOriginalUrls$"
        [clickActions]="clickActions"
      ></gt-hike-edit-photos-table>
    </ng-template>
  </p-accordionTab>
</p-accordion>
