<div class="dynamic-form-group-wrapper">
  <div class="dynamic-form-group-content-wrapper">
    <div class="dynamic-form-group-header">
      <button class="ui-button ui-button-red" (click)="addItem()" type="button">
        {{ fields.addButtonTitle | translate }}
      </button>
    </div>
    <div class="dynamic-form-group-body">
      <div class="dynamic-form-group-item" *ngFor="let group of controlGroup.controls; let i=index; trackBy: trackByFn">
        <div class="dynamic-form-group-item-body">
          <gtrack-form-field
            *ngFor="let field of formFields; trackBy: trackByFn"
            [field]="field"
            [form]="group"
          ></gtrack-form-field>
        </div>
        <div class="dynamic-form-group-item-footer">
          <button class="ui-button ui-button-red" (click)="removeItem(i)" type="button">
            {{ fields.removeButtonTitle | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
