<div class="clearfix mb-20">
  <div class="f-left">
    <p-button
      label="Save as gTrackPoi"
      styleClass="ui-button-success"
      (onClick)="savePois()"
      [disabled]="(pois$ | async).length === 0"
    ></p-button>

    <p-button
      label="Get new"
      styleClass="ui-button-success"
      (onClick)="getPois()"
      [disabled]="(routePath$ | async)?.geometry.coordinates.length < 1 || (loading$ | async) || (saving$ | async)"
    ></p-button>
  </div>

  <div class="f-right">
    <p-checkbox
      class="f-right ml-20"
      label="Show offroute markers"
      binary="true"
      [(ngModel)]="showOffrouteMarkers"
      (onClick)="toggleOffrouteMarkers()"
    ></p-checkbox>

    <p-checkbox
      class="f-right"
      label="Show onroute markers"
      binary="true"
      [(ngModel)]="showOnrouteMarkers"
      (onClick)="toggleOnrouteMarkers()"
    ></p-checkbox>
  </div>
</div>

<gt-table-spinner *ngIf="((loading$ | async) || (saving$ | async)) as working; else externalPoiTable"></gt-table-spinner>

<ng-template #externalPoiTable>
  <p-accordion [multiple]="true">
    <p-accordionTab header="On route pois">
      <hike-edit-pois-external-table
        [pois$]="pois$"
        [subdomain]="poiType.subdomain"
        [onRouteCheck]="true">
      </hike-edit-pois-external-table>
    </p-accordionTab>
    <p-accordionTab header="Off route pois">
      <hike-edit-pois-external-table
        [pois$]="pois$"
        [subdomain]="poiType.subdomain"
        [onRouteCheck]="false">
      </hike-edit-pois-external-table>
    </p-accordionTab>
  </p-accordion>
</ng-template>