<div class="container" *ngIf="hikeProgram">

  <div class="row">
    <div class="p-2 col-1">
      <i class="ion-android-arrow-forward"></i>
    </div>
    <div class="p-2 col-5">Total distance</div>
    <div class="p-2 col-5">{{hikeProgram.distance | distance}}</div>
  </div>

  <div class="row">
    <div class="p-2 col-1">
      <i class="ion-arrow-graph-up-right"></i>
    </div>
    <div class="p-2 col-5">Uphill</div>
    <div class="p-2 col-5">{{hikeProgram.uphill | distance}}</div>
  </div>

  <div class="row">
    <div class="p-2 col-1">
      <i class="ion-arrow-graph-down-right"></i>
    </div>
    <div class="p-2 col-5">Downhill</div>
    <div class="p-2 col-5">{{hikeProgram.downhill | distance}}</div>
  </div>

  <div class="row">
    <div class="p-2 col-1">
      <i class="ion-ios-time"></i>
    </div>
    <div class="p-2 col-5">Estimated walk time</div>
    <div class="p-2 col-5">{{ hikeProgram.time | duration }}</div>
  </div>

  <div class="row">
    <div class="p-2 col-1">
      <i class="ion-trophy"></i>
    </div>
    <div class="p-2 col-5">Score</div>
    <div class="p-2 col-5">{{ hikeProgram.score }}</div>
  </div>

</div>