@import '../../../../assets/sass/gtrack-material-dashboard.scss';

.sidebar {
  background-color: black;
  .logo .simple-text {
    color: white;
  }

  .sidebar-background {
    opacity: 0.75;

    &::after {
      background-color: $gt-green-primary !important;
      opacity: 0.4;
    }
  }

  .nav i,
  .nav li > a,
  .nav li:hover > a {
    color: white;
  }
  .nav li > a.active {
    background-color:  rgba(115, 190, 70, 0.75);
  }
}
