.logo-img > img {
  width: 75% !important;
  /*
  width: 210px !important;
  height: 48px !important;
  */
}

.sidebar-background {
  background-image: url('../../../../assets/img/sidebar-bg1.jpg');
}

.sidebar:after, body > .navbar-collapse:after {
  opacity: .5 !important;
}
