<ng-container *ngIf="(pois$ | async) as pois">
  <p-table [value]="pois">
    <ng-template pTemplate="header">
      <tr>
        <th>Icon</th>
        <th>Title</th>
        <th>Distance from route</th>
        <th>Types</th>
        <th>Origin</th>
        <th>Elevation</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-poi>
      <tr *ngIf="!!poi.onRoute === onRouteCheck">
        <td>
          <gt-poi-icons [poi]="poi"></gt-poi-icons>
        </td>
        <td [ngClass]="{'text-danger': !poi.inHike}">{{translateDescription(poi.description, 'title')}}</td>
        <td>{{poi.distFromRoute | distance : true}}</td>
        <td>{{poi.types.join(', ')}}</td>
        <td>{{poi.objectType}}</td>
        <td>{{poi.elevation | distance}}</td>
        <td class="text-center">
          <p-button
            *ngIf="!poi.inHike"
            icon="fa fa-plus"
            styleClass="ui-button-success"
            (onClick)="addPoi($event, poi)"
            title="Add to hike"
          ></p-button>

          <p-button
            icon="fa fa-pencil-alt"
            styleClass="ui-button-warning ml-5"
            (onClick)="openGTrackPoiModal(poi)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

