<table class="table table-hover">
  <thead class="text-success">
    <tr>
      <th>Icon</th>
      <th>Title</th>
      <th>Distance from route</th>
      <th>Types</th>
      <th>Origin</th>
      <th>Elevation</th>
      <th>Merge</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let poi of (pois$ | async); let idx = index">
      <tr *ngIf="!!poi.onRoute === onRouteCheck">
        <td><gt-poi-icons [poi]="poi"></gt-poi-icons></td>
        <td [ngClass]="{'text-danger': !poi.inHike}">{{translateDescription(poi.description, 'title')}}</td>
        <td>{{poi.distFromRoute | distance : true}}</td>
        <td>{{poi.types.join(', ')}}</td>
        <td>{{poi.objectType}}</td>
        <td>{{poi.elevation | distance}}</td>
        <td>
          <span class="form-check p-0">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="checkbox"
                name="mergeCheckboxes"
                [checked]="(mergeSelection$ | async).indexOf(poi.id) >= 0"
                (click)="toggleMergeSelection(poi.id)"
              >
              <span class="form-check-sign"></span>
            </label>
          </span>
        </td>
        <td class="td-actions">
          <button
            *ngIf="!poi.inHike"
            class="btn btn-simple btn-link btn-success"
            title="Add poi"
            (click)="addPoi($event, poi)" 
          ><i class="material-icons">add_circle</i></button>

          <button
            class="btn btn-warning btn-simple btn-link"
            title="Edit poi"
            (click)="openModal($event, poi)"
          ><i class="material-icons">edit</i></button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
