<div class="elevation-profile-container">
  <div class="elevation-profile" #elevationProfile>
    <svg #svg [attr.width.px]="width" [attr.height.px]="height" attr.viewBox="0, 0, {{ width }}, {{ height }}">
      <defs>
        <linearGradient id="areaGradient" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" stop-color="#E26205" stop-opacity="1"></stop>
          <stop offset="100%" stop-color="#FFFF00" stop-opacity="0"></stop>
        </linearGradient>
      </defs>

      <g
        gtrack-elevation-filled-area
        [elevationData]="elevationData"
        [areaFill]="'url(' + router.url + '#areaGradient)'"
      ></g>

      <g gtrack-elevation-line-graph stroke="#D9D9D9" [elevationData]="elevationData"></g>

      <g gtrack-elevation-max-point [elevationData]="elevationData"></g>
    </svg>
  </div>
</div>
