<ng-container *ngIf="(pois$ | async) as pois">
  <p-table [value]="pois">
    <ng-template pTemplate="header">
      <tr>
        <th>Icon</th>
        <th>Title</th>
        <th>Distance from route</th>
        <th>Types</th>
        <th>Origin</th>
        <th>Elevation</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-poi>
      <tr *ngIf="!!poi.onRoute === onRouteCheck">
        <td>
          <app-poi-icons [poi]="poi"></app-poi-icons>
        </td>
        <td [innerHTML]="(poi?.description | localizeDescription).title"></td>
        <td>{{ poi.distFromRoute | distance : true }}</td>
        <td>{{ poi.types?.join(', ') }}</td>
        <td>{{ poi.objectTypes?.join(', ') }}</td>
        <td>{{ poi.elevation | distance }}</td>
        <td class="text-center">
          <p-button
            *ngIf="!poi.inHike"
            icon="pi pi-minus"
            styleClass="ui-button-danger"
            (onClick)="removePoi($event, poi)"
            title="Remove from hike"
          ></p-button>
          <p-button icon="pi pi-pencil" styleClass="ui-button-warning ml-5" (onClick)="openGTrackPoiModal(poi)">
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
