<gtrack-trail-box
  (elevationLineMove)="onElevationLineMove($event)"
  (elevationLineOut)="onElevationLineOut()"
  (elevationLineOver)="onElevationLineOver()"
  (elevationLineClick)="onElevationLineClickMap($event)"
  [elevationMarkerPosition]="(elevationMarkerPosition$ | async)"
  [elevationMarkerVisible]="(elevationMarkerVisible$ | async)"
  [hikeProgram]="hikeProgram"
></gtrack-trail-box>

<gtrack-elevation-profile
  (elevationLineMove)="onElevationLineMove($event)"
  (elevationLineOut)="onElevationLineOut()"
  (elevationLineOver)="onElevationLineOver()"
  (elevationLineClick)="onElevationLineClick($event)"
  [elevationMarkerPosition]="(elevationMarkerPosition$ | async)"
  [elevationMarkerVisible]="(elevationMarkerVisible$ | async)"
  [hikeProgram]="hikeProgram"
></gtrack-elevation-profile>
