/* Big Spinner */

$pcolor2: #5243aa;
.spinner {
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($white, 0.6);
    color: $pcolor2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    &.fixed {
        position: fixed;
        font-size: 6em;
        .text {
            font-size: 1em;
        }
    }
}