<div class="d-flex" *ngIf="hikeProgram">
    <span class="distance hike-info-item px-1">
    <fa-icon [icon]="faArrowRight"></fa-icon> {{ hikeProgram.distance | distance }}</span>
    <span class="uphill hike-info-item px-1">
    <fa-icon [icon]="faSortUp"></fa-icon> {{ hikeProgram.uphill | distance }}</span>
    <span class="downhill hike-info-item px-1">
    <fa-icon [icon]="faSortDown"></fa-icon> {{ hikeProgram.downhill | distance }}</span>
    <span class="time hike-info-item px-1">
    <fa-icon [icon]="faClock"></fa-icon> {{ hikeProgram.time | duration }}</span>
    <span class="score hike-info-item px-1">
    <fa-icon [icon]="faTrophy"></fa-icon> {{ hikeProgram.score }}</span>
</div>