<gtrack-leaflet-map #map [layers]="layers" [center]="center">
  <div class="map-button-container">
    <button pButton (click)="goToCurrentPosition($event)" class="map-button">
      <fa-icon [icon]="faCrosshairs"></fa-icon>
    </button>
    <button pButton (click)="resetMap($event)" class="map-button">
      <fa-icon [icon]="faSyncAlt"></fa-icon>
    </button>
  </div>
</gtrack-leaflet-map>

<div class="mt-3 mb-3">
  <button class="button" *ngIf="!checkpointsOnly" (click)="showCheckpointsOnly($event)">
    {{ 'common.hike.trailbox.checkpointsOnly' | translate }}
  </button>
  <button class="button" *ngIf="checkpointsOnly" (click)="showCheckpointsOnly($event)">
    {{ 'common.hike.trailbox.checkpointsOnly' | translate }}
  </button>
  <button class="button" *ngIf="checkpointsOnly" (click)="showAllPoints($event)">
    {{ 'common.hike.trailbox.allPoints' | translate }}
  </button>
  <button class="button" *ngIf="!checkpointsOnly" (click)="showAllPoints($event)">
    {{ 'common.hike.trailbox.allPoints' | translate }}
  </button>
</div>
