<gc-leaflet #map [layers]="layers" [center]="center">
    <div class="map-button-container">
        <button pButton (click)="goToCurrentPosition($event)" class="map-button">
      <fa-icon [icon]="faCrosshairs"></fa-icon>
    </button>
        <button pButton (click)="resetMap($event)" class="map-button">
      <fa-icon [icon]="faSyncAlt"></fa-icon>
    </button>
    </div>
</gc-leaflet>

<div class="mt-3 mb-3">
    <button class="btn" *ngIf="!checkpointsOnly" (click)="showCheckpointsOnly($event)">Checkpoints only</button>
    <button class="btn" *ngIf="checkpointsOnly" (click)="showCheckpointsOnly($event)">Checkpoints only</button>
    <button class="btn" *ngIf="checkpointsOnly" (click)="showAllPoints($event)">All points</button>
    <button class="btn" *ngIf="!checkpointsOnly" (click)="showAllPoints($event)">All points</button>
</div>