:host {
  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    content: ' ';
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: ' ';
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: ' ';
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: white;
  }
  .info {
    width: 46%;
    float: right;
    padding: 20px;
    position: relative;
  }
  .odd > .timeline > li > .info {
    width: 46%;
    float: left;
    padding: 20px;
    position: relative;
  }
  .odd > .timeline > li > .info > div {
    display: flex;
    justify-content: flex-end;
  }
  .odd > .timeline > li > .timeline-panel {
    float: right;
  }

  .odd > .timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .odd > .timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: ' ';
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: ' ';
  }
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 64px;
    height: 64px;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -32px;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .first .timeline > li > .timeline-badge > .start-icon {
    display: inline-block;
    width: 64px;
    cursor: default;
  }

  .timeline > li > .timeline-badge > img {
    display: none;
  }

  .last .timeline > li > .timeline-badge > .finish-icon {
    display: inline-block;
    width: 64px;
    cursor: default;
  }

  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  .timeline-body > p + p {
    margin-top: 5px;
  }

  ::ng-deep {
    gtrack-icon {
      display: flex;
    }
  }

  .poi-data {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    font-weight: 600;
  }
  p {
    font-weight: 400;
  }
}
