.inline-checkbox {
  display: inline-block;
  margin-left: 25px;
  position: relative;
  top: 2px;

  .form-check-sign::before,
  .form-check-sign::after {
    margin-top: 1px !important;
  }
}

.poi-spinner {
  position: relative;
  left: 10px;
  top: 5px;
}

poi-icons {
  img {
    width: 24px !important;
  }
}
