<app-table-spinner *ngIf="(working$ | async) as working; else pageContent"></app-table-spinner>

<p-dialog
  [header]="((hikeProgramData$ | async)?.description | localizeDescription).title"
  [(visible)]="displayPreview"
  [modal]="true"
  [closable]="true"
  [width]="800"
  [blockScroll]="true"
>
  <gtrack-hike-program-page *ngIf="displayPreview" [hikeProgram]="hikeProgramData$ | async"></gtrack-hike-program-page>
</p-dialog>

<ng-template #pageContent>
  <div class="ui-g">
    <div class="ui-g-12" *ngIf="(hikeProgramState$ | async) as hikeProgramState">
      <div class="f-left">
        <p-checkbox
          label="Feature"
          binary="true"
          [ngModel]="(hikeProgramData$ | async)?.feature"
          (onChange)="handleHikeProgramFeature()"
        ></p-checkbox>
      </div>
      <div class="f-right">
        <p-button
          label="Retrieve plan"
          styleClass="ui-button-primary mr-10"
          *ngIf="(isPlanning$ | async) === false"
          (onClick)="retrievePlan()"
        ></p-button>

        <p-button label="Preview" styleClass="ui-button-warning mr-10" (onClick)="openPreview()"></p-button>

        <p-button
          label="Publish"
          styleClass="ui-button-success mr-10"
          (onClick)="updateHikeState(EObjectState.published)"
          title="Publish hike"
          *ngIf="paramsId && hikeProgramState === EObjectState.draft"
        ></p-button>

        <p-button
          label="Draft"
          styleClass="ui-button-secondary mr-10"
          (onClick)="updateHikeState(EObjectState.draft)"
          title="Move to draft"
          *ngIf="paramsId && hikeProgramState === EObjectState.archived"
        ></p-button>

        <p-button
          label="Archive"
          styleClass="ui-button-danger mr-10"
          (onClick)="updateHikeState(EObjectState.archived)"
          title="Archive hike"
          *ngIf="paramsId && hikeProgramState === EObjectState.published"
        ></p-button>

        <p-button
          label="Save hike"
          styleClass="ui-button-success"
          (onClick)="saveHike()"
          [disabled]="(isDirty$ | async) === false"
        ></p-button>
      </div>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-card header="General info">
        <app-hike-edit-general-info></app-hike-edit-general-info>
      </p-card>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-card header="Map">
        <app-hike-edit-map></app-hike-edit-map>
      </p-card>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-card header="Hike timeline">
        <app-hike-edit-outline [isPlanning$]="isPlanning$"></app-hike-edit-outline>
      </p-card>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-card header="Route planning">
        <app-hike-edit-route-planner [isPlanning$]="isPlanning$"></app-hike-edit-route-planner>
      </p-card>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-card header="Pois">
        <app-hike-edit-pois [isPlanning$]="isPlanning$"></app-hike-edit-pois>
      </p-card>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-card header="Photos">
        <app-hike-edit-photos
          [backgroundImageSelector]="backgroundImageSelector"
          [backgroundImageUrlSelector]="backgroundImageUrlSelector"
          [clickActions]="clickActions"
          [showMarkerColumn]="true"
        ></app-hike-edit-photos>
      </p-card>
    </div>
  </div>
</ng-template>
