gt-hike-edit {
  .lang-toolbar {
    span {
      float: right !important;
      padding: 6px 14px;
    }

    .form-group {
      display: initial;
      select {
        float: right !important;
        width: auto !important;
      }
    }

    button {
      float: right !important;
      margin-left: 20px;
      margin-top: 2px;
    }
  }

  .table {
    th:first-child,
    td:first-child {
      width: 130px;
    }

    .form-group {
      margin: 0;
      padding: 0;
      margin-top: 6px;
    }
  }
}
