<div class="lang-toolbar clearfix mb-2">
  <button class="btn btn-round btn-sm btn-just-icon btn-success" [disabled]="!selLang" (click)="addTranslation()">
    <i class="material-icons">add</i>
  </button>

  <select class="form-control form-control-sm" [(ngModel)]="selLang" title="Select">
    <ng-container *ngFor="let lang of langs | obj2arr">
      <option *ngIf="(existingLangKeys$ | async).indexOf(lang.key) < 0" [value]="lang.key" [innerHTML]="lang.value">
      </option>
    </ng-container>
  </select>

  <span>Add language:</span>
</div>

<form [formGroup]="descriptionForm" novalidate (ngSubmit)="save(descriptionForm)">
  <div aria-multiselectable="true" id="accordion" role="tablist" formArrayName="langs">
    <div class="card mb-1" *ngFor="let lng of existingLangKeys$ | async; let i = index">
      <div class="card-header bg-light" id="headingOne" role="tab">
        <h5>
          <a aria-controls="collapseOne" aria-expanded="false" data-toggle="collapse" href="#collapse{{lng}}" role="button" class="collapsed">
            <div class="text-success">
              {{langs[lng]}}
              <i class="material-icons pull-right">keyboard_arrow_down</i>
            </div>
          </a>
        </h5>
      </div>

      <div aria-labelledby="headingOne" class="collapse" id="collapse{{lng}}" role="tabpanel" aria-expanded="false" style="height: 0px;">
        <div class="card-body" [formGroupName]="i">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Title</label>
                <input class="form-control" type="text" formControlName="title">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Description</label>
                <input class="form-control" type="text" formControlName="fullDescription">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Summary</label>
                <input class="form-control" type="text" formControlName="summary">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
